.cadastroPaciente
 {
   width: 65%;
   height: 80%;
 }

 .btn-sex
 {
   height:100%;
   margin-top: 3%;
  margin-left: 5%;
 }

 .uf
 {
  width: 50%;
  margin-left: 5%;
  padding-right: 1%;
  margin-right: 15%;
 }

 .input-left
 {
  margin-left: 1%;
 }

 .input-right
 {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0px;
 }

 .ddd
 {
  max-width: 30%;
 }
